.advantages__intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  width: 284px;
  margin: auto;
  margin: 28px 4px 9px 17px;
  // margin-top: 34px;
  padding: 0 10px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 42px;
    width: 530px;
    font-size: 21px;
    padding: 0;
  }

  @media (min-width: $desktop-width) {
    margin-top: 54px;
  }
}

.advantages__intro-description{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 284px;
  margin: 36px auto 15px;

  @media (min-width: $tablet-width) {
    margin-top: 30px;
    width: 530px;
  }
}

.advantages__list-white-desc {
  position: relative;
  padding-top: 54px;

  @media (min-width: $tablet-width) {
    width: 256px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.advantages__list-white-desc2 {
  position: relative;
  padding-top: 20px;

  @media (min-width: $tablet-width) {
    width: 256px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.advantages__list-white-desc::after {
  content: "";
  background-image: url("../img/bagruondclip.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 320px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.advantages__list-white {
  display: flex;
  flex-direction: column;
  background-color: #81B3D2;
  color: #FFFFFF;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 256px auto;
    width: 768px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 400px auto;
    width: 1200px;
    height: 256px;

  }

  &--second {
    @media (min-width: $tablet-width) {
      grid-template-columns: auto 256px;
    }

    @media (min-width: $desktop-width) {
      grid-template-columns: auto 400px;
    }
  }
}

.advantages__foto-sity {
  vertical-align: bottom;
}

.advantages__foto-sity--second {
  vertical-align: bottom;

  @media (min-width: $tablet-width) {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 512px;
    height: 256px;
  }

  @media (min-width: $desktop-width) {
    width: 800px;
    height: 256px;
  }
}

.advantages__list {
  background-color: #EEEEEE;

  @media (min-width: $tablet-width) {
    margin: 55px auto 0;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    min-height: 503px;
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    margin: 44px auto 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  min-height: 118px;

  @media (min-width: $tablet-width) {
    width: 33.33%;
    min-height: 256px;
  }

  &--width-100 {
    width: 100%;
  }
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin: 0 auto;
  margin-top: 17px;


  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 0 20px ;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 75px ;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    margin-top: 12px;
  }
}

.advantages__number--white {
  color: #FFFFFF;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 18px auto 40px;

  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding-top: 23px;
  }

  @media (min-width: $desktop-width) {

    margin: 0 auto;
  }
}

.advantages__description--white {
  color: #FFFFFF;
}

.advantages {
  margin: auto;
  text-align: center;
}

.advantages__intro {
  @media (min-width: $tablet-width) {
    margin: auto;
    width: 768px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1200px;
  }
}

.advantages__tablet-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.advantages__desktop-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: none;
  }

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.advantages__wrapper-1 {
  padding: 54px 16px 0;

  @media (min-width: $tablet-width) {
    width: 210px;
    margin: 0 auto;
    padding: 54px 0 0;
  }

  @media (min-width: $desktop-width) {
    padding: 54px 15px 0;
    width: 300px;
  }
}

.advantages__wrapper-2 {

  @media (min-width: $tablet-width) {
    width: 190px;
    margin: 0 auto;
    padding: 52px 0 0;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
  }
}

.advantages__wrapper-3 {
  border-bottom: 1px solid #D6D6D6;
  width: 268px;
  margin: 0 auto;
  padding: 5px 10px 0;

  @media (min-width: $tablet-width) {
    width: 196px;
    padding-top: 41px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 52px 6px 0;
  }
}

.advantages__wrapper-4 {
  border-bottom: 1px solid #D6D6D6;
  width: 237px;
  margin: 0 auto;
  margin-top: -7px;

  @media (min-width: $tablet-width) {
    width: 175px;
    padding-top: 48px;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding: 57px 15px;
  }
}

.advantages__wrapper-5 {
  width: 250px;
  margin: 0 auto;
  margin-top: -8px;
  padding-bottom: 1px;

  @media (min-width: $tablet-width) {
    width: 190px;
    padding-top: 48px;
  }

  @media (min-width: $desktop-width) {
    width: 300px;
    padding-top: 59px;
  }
}

.advantages__description-lastpadding {
  margin-bottom: 27px;
}

