.comment__title {
  margin: 0 auto;
  margin-top: 59px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin-top: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 157px;
  }
}

.comment__title::after {
  content:  "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  bottom: 42px;
  background-color: #E5E5E5;

  @media (min-width: $tablet-width) {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 59px;
    top: 12px;
    background-color: #E5E5E5;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    left: 140px;
  }
}

.comment__title::before {
  @media (min-width: $tablet-width) {
    content:  "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 585px;
    top: 12px;
    background-color: #E5E5E5;
  }

  @media (min-width: $desktop-width) {
    width: 280px;
    left: 770px;
  }
}

.comment__info {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans";
  width: 279px;
  height: 150px;
  background-color: #F2F2F2;
  border: none;
  padding: 16px;
  margin-top: 22px;
  margin-bottom: 46px;

    @media (min-width: $tablet-width) {
      min-width: 648px;
      min-height: 160px;
      margin-top: 27px;
      margin-bottom: -6px;
    }

    @media (min-width: $desktop-width) {
      width: 768px;
    }
}

.comment {
  text-align: center;
}
