.contact__title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 63px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    margin: 0 auto;
    padding-left: 42px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    margin-left: 161px;
  }
}

.contact__title::after {
  content:  "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: -40px;
  bottom: 52px;
  background-color: #E5E5E5;

  @media (min-width: $tablet-width) {
    display:none ;
  }
}

.contact__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    margin-left: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 85px;
  }
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact__tel-position {
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 23px;
  }
}

.contact__email-position {
  padding-left: 16px;
  margin-top: 15px;
}


.contact__input {
  position: relative;
  width: 280px;
  height: 58px;
  padding-left: 16px;

  @media (min-width: $tablet-width) {
    width: 295px;
  }

  @media (min-width: $desktop-width) {
    width: 430px;
  }
}
.contact__input::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.contact__label-tel{
  position: relative;
  margin-top: 5px;
}

.contact__label-tel::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    bottom: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-image: url("../img/tel.svg");
    z-index: 2;
}

.contact__label-email {
  position: relative;
}

.contact__label-email::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-image: url("../img/male.svg");
  z-index: 2;
}

