.hero2__sedona {
  padding-top: 52px;

  @media (min-width: $tablet-width) {
    padding-top: 95px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 158px;
  }
}

.hero__back2 {
  color: #000000;
  background-color: #3F5E72;
  background-image: url("../../img/hero-mobile.jpg");
  background-size: 100% auto, cover;
  background-repeat: no-repeat;
  text-align: center;
  width: 320px;
  height: 214px;
  margin: 0 auto;
  order: 2;
  background-position: 50%;

  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    width: 768px;
    height: 290px;
    background-image: url("../img/hero-tablet.jpg");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/hero-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }

  @media (min-width: $desktop-width) {
    width: 1200px;
    height: 357px;
    background-image: url("../img/hero-desctop.jpg");
    margin-top: -55px;


  @media (min-resolution: 2dppx) {
    background-image: url("../img/hero-desctop@2x.jpg");
    background-size: 1200px auto;
      }
  }
}

