.main-footer__visit {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 136px;
  margin: 0 auto;
  padding-top: 50px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-footer__wrapper {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  @media (min-width: $desktop-width) {

    max-width: 1200px;
    display: flex;
    align-items: center;
  }
}

.main-footer__copyright {
  display: flex;
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
