.main-footer__visit {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 136px;
  margin: 0 auto;
  padding-top: 37px;


  @media (min-width: $tablet-width) {
    padding-top: 0;
    margin-left: 0;
  }
}

.main-footer__visit-position-index {
  padding-top: 41px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.main-footer__wrapper {
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 6px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
}

.main-footer__copyright {
  display: flex;
  padding-bottom: 33px;
  text-align: center;
  align-items: center;
  justify-content: center;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.main-footer__hashtag {
  @media (min-width: $desktop-width) {
    min-width: 180px;
  }
}

.main-footer__social {
  @media (min-width: $tablet-width) {
    padding-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    min-width: 220px;

  }
}

.main-footer__position-form {
  @media (min-width: $tablet-width) {
    margin-top: 68px;
    justify-content: start;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-around;
    min-width: 220px;
    padding-left: 31px;
  }
}

.main-footer__copyright-position {
  @media (min-width: $tablet-width) {
    padding-left: 112px;
  }

  @media (min-width: $desktop-width) {
    min-width: 220px;
    padding-left: 30px;
  }
}

.main-footer__wrapper-position-index {
  @media (min-width: $desktop-width) {
    justify-content: start;
    padding-top: 0;
    padding-left: 119px;
    margin-top: 5px;
  }
}

.main-footer__wrapper-position-catalog {

  @media (min-width: $tablet-width) {
    padding-top: 40px;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    padding-top: 73px;
    padding-left: 119px;
  }
}

.main-footer__copyright-position-catalog {

  @media (min-width: $desktop-width) {
    padding-left: 270px;
  }

}

.main-footer__visit-position-catalog {
  padding-top: 33px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}
