.main-header__logo {
  position: absolute;
  height: 96px;
  top: 0;
  left: calc(50% - 92.5px);
  z-index: 3;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 0;
    left: calc(50% - 92.5px);
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 0;
    left: calc(50% - 92.5px);
  }
}

.main-header {
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
}

