.main-header__logo {
margin-right: 291px;
}

.main-nav {
  width: 100%;
  background-color: #ffffff;
}

.main-nav__wrapper {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}
