
.modal-container2 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container2-close {
  display: none;
}

.modal-container2__position {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-container2__sent {
  width: 320px;
  height: 323px;

  @media (min-width: $tablet-width) {
    width: 640px;
    height: 347px;
  }
}

.modal-container2__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 37px;
  }
}

.modal-container2__form{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 5px 0;
}

.modal-container2_wrapper-button {
  position: absolute;
  width: 320px;
  height: 98px;
  background-color: #F2F2F2;
  background-position: center;
  margin-left: -40px;
  margin-top: 40px;

  @media (min-width: $tablet-width) {
    width: 640px;
    height: 146px;
  }
}

.modal-container2-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  top: 0;
  right: 0;
  width: 280px;
  height: 56px;
  margin: 20px 20px;
  border: none;
  color: #ffffff;
  background-color: #81B3D2;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 458px;
    margin: 40px 92px;
  }
}

