
.modal-container1 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
}

.modal-container1--close {
  display: none;
}

.modal-container1__position {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-container1__error {
  width: 320px;
  height: 280px;

  @media (min-width: $tablet-width) {
    width: 400px;
    height: 347px;
  }
}

.modal-container1__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  padding-top: 16px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 40px;
    padding: 6px 37px;
  }
}

.modal-container1__form{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 5px 0;

  @media (min-width: $tablet-width) {
    padding: 4px 5px  0;
  }
}

.modal-container1-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  top: 0;
  right: 0;
  width: 180px;
  height: 56px;
  margin: 15px 30px;
  border: none;
  color: #ffffff;
  background-color: #81B3D2;
  text-align: center;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    width: 271px;
    margin: 35px 25px;
  }
}

