.photo__heading-title-catalog {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.photo__heading-description-catalog {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.photo__photo-card {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.photo__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.photo__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.photo__photo-title-catalog {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.photo__photo-description-catalog{
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}
