.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 60px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
  }
}

.search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 262px;
  margin: auto;

  @media (min-width: $tablet-width) {
    margin: auto;
    width: 435px;
  }
}

.search {
  margin: auto;
  text-align: center;

  @media (min-width: $tablet-width) {
    margin: auto;
    width: 435px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 435px;
}
}


.search__button {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  background-color: #81B3D2;
  margin-top: 32px;
  padding: 16px 49px;

  @media (min-width: $tablet-width) {
    padding: 16px 121px;
  }
}

.search__wrapper {
  margin: auto;
}

.search__tablet-br {
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}
