.services {
  background-color: #FFFFFF;
  margin: 0;
}
.services__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin: auto;
    width: 768px;
    display: grid;
    grid-template-columns: 256px 256px 256px;
    height: 331px;
  }

  @media (min-width: $desktop-width) {
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-columns:  400px 400px 400px;
  }
}

.services__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;

}

.services__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.services__item {
  padding: 5px 10px;
}
