
.site-list__item {
  @media (min-width: $tablet-width) {
    width: 153px;
    &:nth-child(2) {
      margin-right: 153px ;
    }
  }

  @media (min-width: $desktop-width) {
    width: 240px;
    &:nth-child(2) {
      margin-right: 240px ;
    }
  }
}

