.social__list {
  @include list-reset;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 30px auto 23px;

  }

  .social__link--vkontakte {
    margin-right: 6px;
  }

  .social__link--telegram {
    margin-right: 6px;
  }

  .social__list-form-pasition {
    @media (min-width: $tablet-width) {
      padding-left: 113px;
    }

    @media (min-width: $desktop-width) {
      padding-left: 145px;
    }
  }

  .social__list-position-catalog {
    @media (min-width: $desktop-width) {
      padding-left: 225px
    }
  }
