@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsans.woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../../fonts/ptsansbold.woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT-Sans" sans-serif;
  line-height: 21px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page__body {
  font-family: "PT-Sans" sans-serif;
}

.main-header__logo {
  margin-right: 291px;
}

.main-nav {
  width: 100%;
  background-color: #ffffff;
}

.main-nav__wrapper {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  text-decoration: none;
}

.advantages__intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.advantages__intro-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantages__list-white {
  background-color: #81B3D2;
  color: #FFFFFF;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.advantages__number-white {
  color: #FFFFFF;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.services__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.services__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.main-footer__visit {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.buttons {
  text-decoration: underline;
  background-color: #81B3D2;
}

.input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.review__intro-title-form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.review__intro-description-form {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.review__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.review__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.review__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
}

.contact__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.contact__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
}

.impression__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.mpression__mark {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.visit__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.visit__mark {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.comment__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.comment__info {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
}

.photo__heading-title-catalog {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.photo__heading-description-catalog {
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.photo__photo-card {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}

.photo__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}

.photo__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
}

.photo__photo-title-catalog {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}

.photo__photo-description-catalog {
  font-weight: 400;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #333333;
}

.services {
  background-color: #EEEEEE;
  margin: 0;
}
/*# sourceMappingURL=style.css.map */