@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header__logo {
  position: absolute;
  height: 96px;
  top: 0;
  left: calc(50% - 92.5px);
}
@media (min-width: 768px) {
  .main-header__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 92.5px);
  }
}
@media (min-width: 1200px) {
  .main-header__logo {
    position: absolute;
    top: 0;
    left: calc(50% - 92.5px);
  }
}

.main-header {
  min-height: 56px;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}

.main-footer__visit {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  width: 136px;
  margin: 51px auto;
}

.main-footer__wrapper {
  margin: 51px auto;
}
@media (min-width: 768px) {
  .main-footer__wrapper {
    margin: 51px auto;
    max-width: 768px;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 1200px) {
  .main-footer__wrapper {
    margin: 51px auto;
    max-width: 1200px;
    display: flex;
    align-items: center;
  }
}

.main-footer__copyright {
  display: flex;
  margin: 20px;
  padding-bottom: 20px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.social__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 30px auto;
  padding-left: 15px;
}

.social__link--vkontakte {
  margin-right: 6px;
}

.social__link--telegram {
  margin-right: 6px;
}

.button {
  text-decoration: underline;
  background-color: #81B3D2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  border-color: #81B3D2;
  font-family: "PT Sans";
}

.review__button {
  display: block;
}

.review__intro-title-form {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .review__intro-title-form {
    font-size: 30px;
    line-height: 26px;
  }
}

.review__intro-description-form {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}
@media (min-width: 768px) {
  .review__intro-description-form {
    width: 435px;
    margin: 0 auto;
  }
}

.review__intro-description-form::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0px;
  top: 102px;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .review__intro-description-form::after {
    display: none;
  }
}

.review__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
}

.review__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
}

.review__input {
  padding: 16px 36px;
}
@media (min-width: 1200px) {
  .review__input {
    padding: 16px 176px 16px 16px;
  }
}

.review__description {
  font-weight: 400;
  font-size: 12px;
  line-height: 21px;
  text-transform: uppercase;
  color: rgba(51, 51, 51, 0.6);
  text-align: right;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .review__description {
    margin-right: 60px;
    color: #333333;
  }
}
@media (min-width: 1200px) {
  .review__description {
    margin-right: 220px;
  }
}

.review__intro {
  text-align: center;
}
@media (min-width: 768px) {
  .review__intro {
    margin: auto;
    width: 768px;
    margin-top: 64px;
  }
}
@media (min-width: 1200px) {
  .review__intro {
    margin: auto;
    width: 1200px;
    margin-top: 115px;
  }
}

.review__container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 15px;
}

@media (min-width: 768px) {
  .review__container::before {
    content: "";
    position: absolute;
    width: 320px;
    height: 1px;
    left: 160px;
    top: 102px;
    background-color: #E5E5E5;
    margin-top: 53px;
    transform: rotate(90deg);
  }
}
@media (min-width: 1200px) {
  .review__container::before {
    left: 342px;
  }
}

.review__label {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .review__wrapper {
    display: flex;
    margin-top: 108px;
    margin-left: 76px;
  }
}
@media (min-width: 1200px) {
  .review__wrapper {
    margin: 68px auto;
    justify-content: space-around;
  }
}

@media (min-width: 768px) {
  .review_send {
    display: flex;
    margin: auto;
    width: 768px;
    margin-top: 48px;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .review_send {
    display: flex;
    margin: auto;
    width: 1200px;
    margin-top: 64px;
    text-align: center;
  }
}

.review__button {
  padding: 16px 49px;
  border: none;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .review__button {
    margin-left: 60px;
  }
}
@media (min-width: 1200px) {
  .review__button {
    margin-left: 210px;
  }
}

.contact__title {
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 64px;
}
@media (min-width: 768px) {
  .contact__title {
    margin-top: 15px;
  }
}

.contact__title::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: -40px;
  bottom: 52px;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .contact__title::after {
    display: none;
  }
}

.contact__label {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  .contact__label {
    margin-left: 58px;
  }
}

.contact {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contact__input {
  position: relative;
  padding: 16px 69px 16px 16px;
  color: rgba(0, 0, 0, 0.3);
}
@media (min-width: 1200px) {
  .contact__input {
    padding: 16px 190px 16px 16px;
  }
}

.contact__label-tel {
  position: relative;
}

.contact__label-tel::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #E6E6E6;
  z-index: 1;
}

.contact__label-tel::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-image: url("../img/tel.svg");
  z-index: 2;
}

.contact__label-email {
  position: relative;
}

.contact__label-email::before {
  box-sizing: border-box;
  content: "";
  position: absolute;
  top: 21px;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #E6E6E6;
  z-index: 1;
}

.contact__label-email::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-image: url("../img/male.svg");
  z-index: 2;
}

.impression__title {
  margin-top: 64px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .impression__title {
    margin-top: 63px;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .impression__title {
    margin-top: 71px;
  }
}

.impression__title::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  bottom: 52px;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .impression__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 90px;
    top: 13px;
    background-color: #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .impression__title::after {
    width: 280px;
    left: 140px;
  }
}

@media (min-width: 768px) {
  .impression__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 550px;
    top: 13px;
    background-color: #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .impression__title::before {
    width: 280px;
    left: 775px;
  }
}

.impression__control {
  position: relative;
  display: block;
}

.impression__mark {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 10px;
}

.impression__mark::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 50%;
}

.impression__mark::after {
  display: none;
  content: "";
  position: absolute;
  top: 5px;
  left: 15px;
  width: 16px;
  height: 16px;
  border: none;
  background-color: #333333;
  border-radius: 50%;
}

.impression__filter-item {
  padding-top: 30px;
}

.impression {
  text-align: center;
}

.impression__filter-list {
  list-style-type: none;
}
@media (min-width: 768px) {
  .impression__filter-list {
    display: grid;
    grid-template-columns: 280px 280px;
    width: 668px;
    justify-content: end;
  }
}
@media (min-width: 1200px) {
  .impression__filter-list {
    display: grid;
    grid-template-columns: 280px 280px 280px;
    width: 1100px;
  }
}

.impression__control-input:checked + .impression__mark::after {
  display: block;
}

.visit__title {
  position: relative;
  margin-top: 59px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .visit__title {
    margin-top: 58px;
    width: 308px;
    margin: 0 auto;
    font-size: 21px;
  }
}
@media (min-width: 1200px) {
  .visit__title {
    margin-top: 73px;
  }
}

.visit__title::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  bottom: 72px;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .visit__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: -140px;
    top: 23px;
    background-color: #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .visit__title::after {
    width: 280px;
    left: -310px;
  }
}

@media (min-width: 768px) {
  .visit__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 320px;
    top: 23px;
    background-color: #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .visit__title::before {
    width: 280px;
  }
}

.visit__mark {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding-left: 50px;
}

.visit__control {
  position: relative;
  display: block;
  padding-top: 35px;
}

.visit {
  text-align: center;
}

.visit__filter-list {
  list-style-type: none;
}
@media (min-width: 768px) {
  .visit__filter-list {
    display: grid;
    grid-template-columns: 224px 224px;
    width: 668px;
    justify-content: end;
  }
}
@media (min-width: 1200px) {
  .visit__filter-list {
    display: grid;
    grid-template-columns: 172px 172px 172px 172px;
    width: 1100px;
    justify-content: space-around;
  }
}

.visit__mark::before {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-color: #F2F2F2;
}

.visit__mark::after {
  content: "";
  display: none;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -10px;
  left: 0;
  width: 46px;
  height: 46px;
  background-image: url("../img/tick.svg");
}

.visit__control-input:checked + .visit__mark::after {
  display: block;
}

.comment__title {
  margin-top: 59px;
  position: relative;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .comment__title {
    font-size: 21px;
  }
}

.comment__title::after {
  content: "";
  position: absolute;
  width: 320px;
  height: 1px;
  left: 0;
  bottom: 42px;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .comment__title::after {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 80px;
    top: 13px;
    background-color: #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .comment__title::after {
    width: 280px;
    left: 140px;
  }
}

@media (min-width: 768px) {
  .comment__title::before {
    content: "";
    position: absolute;
    width: 123px;
    height: 1px;
    left: 550px;
    top: 13px;
    background-color: #E5E5E5;
  }
}
@media (min-width: 1200px) {
  .comment__title::before {
    width: 280px;
    left: 770px;
  }
}

.comment__info {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.3);
  font-family: "PT Sans";
  width: 279px;
  height: 150px;
  background-color: #F2F2F2;
  border: none;
  padding: 16px;
  margin-bottom: 56px;
}
@media (min-width: 768px) {
  .comment__info {
    min-width: 648px;
    min-height: 160px;
  }
}
@media (min-width: 1200px) {
  .comment__info {
    width: 768px;
  }
}

.comment {
  text-align: center;
}

.photo__heading-title-catalog {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .photo__heading-title-catalog {
    font-size: 30px;
    margin-top: 66px;
  }
}
@media (min-width: 1200px) {
  .photo__heading-title-catalog {
    margin-top: 100px;
  }
}

.photo__heading-description-catalog {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
}

.photo-container {
  padding: 0 20px;
}
@media (min-width: 768px) {
  .photo-container {
    padding: 0;
  }
}

.photo__wrapper {
  margin-top: 50px;
}
@media (min-width: 768px) {
  .photo__wrapper {
    margin-top: 66px;
  }
}
@media (min-width: 1200px) {
  .photo__wrapper {
    margin-top: 67px;
  }
}

.photo__list {
  padding: 0;
  min-height: 200px;
  list-style: none;
}
@media (min-width: 768px) {
  .photo__list {
    width: 768px;
    display: grid;
    grid-template-columns: 324px 324px;
    padding: 0 60px 0 60px;
  }
}
@media (min-width: 1200px) {
  .photo__list {
    width: 1200px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
    padding: 0;
  }
}

@media (min-width: 768px) {
  .photo-fest {
    grid-column: 1/3;
  }
}
@media (min-width: 1200px) {
  .photo-fest {
    grid-column: 1/4;
    margin-bottom: -7px;
  }
}

.photo__link {
  text-decoration: none;
}

.photo__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #000000;
}
@media (min-width: 768px) {
  .photo__name {
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .photo__name {
    color: #FFFFFF;
  }
}

.photo__title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #333333;
}
@media (min-width: 768px) {
  .photo__title {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .photo__title {
    color: #FFFFFF;
  }
}

.photo__description {
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  color: #000000;
  margin-top: 2px;
  margin-left: 10px;
}
@media (min-width: 1200px) {
  .photo__description {
    color: #FFFFFF;
  }
}

.photo__photo-title-catalog {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  text-align: center;
}
@media (min-width: 768px) {
  .photo__photo-title-catalog {
    margin-top: 58px;
    font-size: 30px;
  }
}
@media (min-width: 1200px) {
  .photo__photo-title-catalog {
    margin-top: 50px;
  }
}

.photo__photo-description-catalog {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  text-align: center;
  margin: 38px 5px;
}

.photo__video {
  display: block;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}

.photo-like-wrapper {
  display: flex;
  margin-right: 20px;
}
@media (min-width: 768px) {
  .photo-like-wrapper {
    margin-top: 30px;
  }
}

@media (min-width: 1200px) {
  .photo-white-lake {
    background-image: url("../../img/like-icon-white.svg");
    content: "";
    background-repeat: no-repeat;
    background-position: center;
  }
}

.photo__photo-description-catalog::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  bottom: -166px;
  left: 109px;
  width: 48px;
  height: 54px;
  background-image: url("../img/play.svg");
}
@media (min-width: 768px) {
  .photo__photo-description-catalog::after {
    left: 358px;
    bottom: -326px;
  }
}
@media (min-width: 1200px) {
  .photo__photo-description-catalog::after {
    left: 580px;
  }
}

.photo__tablet-br {
  display: none;
}
@media (min-width: 768px) {
  .photo__tablet-br {
    display: inline;
  }
}

@media (min-width: 768px) {
  .photo-info-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #F2F2F2;
    margin-top: -6px;
    min-height: 80px;
  }
}
@media (min-width: 1200px) {
  .photo-info-wrapper {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -86px;
    z-index: 1;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .photo-info-wrapper2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #EAEAEA;
    margin-top: -6px;
    min-height: 80px;
  }
}
@media (min-width: 1200px) {
  .photo-info-wrapper2 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    margin-top: -86px;
    z-index: 1;
    width: 400px;
  }
}

@media (min-width: 768px) {
  .photo-info-title {
    margin-left: 20px;
  }
}

@media (min-width: 768px) {
  .photo__videow-wrapper {
    padding: 0 20px;
  }
}

@media (min-width: 1200px) {
  .photo-info-wrapper-width1 {
    width: 1200px;
  }
}

.services {
  background-color: #FFFFFF;
  margin: 0;
}

.services__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
@media (min-width: 768px) {
  .services__list {
    margin: auto;
    width: 768px;
    display: grid;
    grid-template-columns: 256px 256px 256px;
    height: 331px;
  }
}
@media (min-width: 1200px) {
  .services__list {
    margin: auto;
    width: 1200px;
    display: grid;
    grid-template-columns: 400px 400px 400px;
  }
}

.services__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  position: relative;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .services__title {
    margin-top: 26px;
  }
}

.services__item--housing {
  position: relative;
}

.services__item--housing::after {
  content: "";
  position: absolute;
  background-image: url("../img/home-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-top: 23px;
  margin-left: 18px;
}
@media (min-width: 768px) {
  .services__item--housing::after {
    position: static;
    display: block;
    order: -1;
    margin: 0 auto;
  }
}

.services__item--food {
  position: relative;
}
@media (min-width: 768px) {
  .services__item--food {
    margin: 0 18px;
  }
}

.services__item--food::after {
  content: "";
  position: absolute;
  background-image: url("../img/food-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-top: 23px;
  margin-left: 18px;
}
@media (min-width: 768px) {
  .services__item--food::after {
    position: static;
    display: block;
    order: -1;
    margin: 0 auto;
  }
}

.services__item--souvenirs {
  position: relative;
}
@media (min-width: 768px) {
  .services__item--souvenirs {
    margin: 0 8px;
  }
}

.services__item--souvenirs::after {
  content: "";
  position: absolute;
  background-image: url("../img/suvenir-icon.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
  margin-top: 23px;
  margin-left: 18px;
}
@media (min-width: 768px) {
  .services__item--souvenirs::after {
    position: static;
    display: block;
    order: -1;
    margin: 0 auto;
  }
}

.services__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  padding-top: 16px;
}
@media (min-width: 768px) {
  .services__description {
    text-align: center;
  }
}

.services__item {
  padding: 23px 18px 25px 65px;
  text-align: left;
}
@media (min-width: 768px) {
  .services__item {
    padding: 60px 33px;
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1200px) {
  .services__item {
    width: 100%;
    padding: 60px 20px;
  }
}

.services__desktop-br {
  display: none;
}
@media (min-width: 1200px) {
  .services__desktop-br {
    display: inline;
  }
}

.page {
  height: 100%;
  font-size: 14px;
  font-family: "PT Sans", "Arial", sans-serif;
  line-height: 21px;
}

.page__body {
  min-height: 100%;
  margin: 0;
  background-color: #ffffff;
  color: #000000;
  font-family: "PT Sans", "Arial", sans-serif;
}

.advantages__intro-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  width: 284px;
  margin: auto;
  margin-top: 32px;
}
@media (min-width: 768px) {
  .advantages__intro-title {
    width: 530px;
  }
}
@media (min-width: 1200px) {
  .advantages__intro-title {
    margin-top: 59px;
  }
}

.advantages__intro-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 284px;
  margin: auto;
  margin-top: 35px;
}
@media (min-width: 768px) {
  .advantages__intro-description {
    width: 530px;
  }
}

.advantages__list-white-desc {
  position: relative;
  padding-top: 54px;
}
@media (min-width: 768px) {
  .advantages__list-white-desc {
    width: 256px;
    text-align: center;
  }
}
@media (min-width: 1200px) {
  .advantages__list-white-desc {
    width: 100%;
  }
}

.advantages__list-white-desc::after {
  content: "";
  background-image: url("../img/bagruondclip.svg");
  background-repeat: no-repeat;
  background-size: auto;
  width: 320px;
  height: 37px;
  position: absolute;
  top: 0;
  left: 0;
}
@media (min-width: 768px) {
  .advantages__list-white-desc::after {
    display: none;
  }
}

.advantages__list-white {
  display: flex;
  flex-direction: column;
  background-color: #81B3D2;
  color: #FFFFFF;
}
@media (min-width: 768px) {
  .advantages__list-white {
    display: grid;
    grid-template-columns: 256px auto;
    width: 768px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__list-white {
    display: grid;
    grid-template-columns: 400px auto;
    width: 1200px;
    height: 256px;
  }
}
@media (min-width: 768px) {
  .advantages__list-white--second {
    grid-template-columns: auto 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__list-white--second {
    grid-template-columns: auto 400px;
  }
}

@media (min-width: 768px) {
  .advantages__foto-sity {
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__foto-sity {
    width: 800px;
    height: 256px;
  }
}

@media (min-width: 768px) {
  .advantages__foto-sity--second {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 512px;
    height: 256px;
  }
}
@media (min-width: 1200px) {
  .advantages__foto-sity--second {
    width: 800px;
    height: 256px;
  }
}

.advantages__list {
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .advantages__list {
    margin: 55px auto 0;
    width: 768px;
    display: flex;
    flex-wrap: wrap;
    min-height: 503px;
  }
}
@media (min-width: 1200px) {
  .advantages__list {
    width: 1200px;
    margin: 44px auto 0;
    display: flex;
    flex-wrap: wrap;
  }
}

.advantages__item {
  min-height: 118px;
}
@media (min-width: 768px) {
  .advantages__item {
    width: 33.33%;
    min-height: 256px;
  }
}
.advantages__item--width-100 {
  width: 100%;
}

.advantages__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantages__title {
    margin: 0 auto 15px;
    padding: 0 31px;
  }
}
@media (min-width: 1200px) {
  .advantages__title {
    padding: 0 86px;
  }
}

.advantages__number {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__number {
    margin: 0 auto 25px;
  }
}

.advantages__number--white {
  color: #FFFFFF;
}

.advantages__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  margin: 0 auto 40px;
}
@media (min-width: 768px) {
  .advantages__description {
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__description {
    margin: 0 auto;
  }
}

.advantages__description--white {
  color: #FFFFFF;
}

.advantages {
  margin: auto;
  text-align: center;
}

@media (min-width: 768px) {
  .advantages__intro {
    margin: auto;
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .advantages__intro {
    margin: auto;
    width: 1200px;
  }
}

.advantages__tablet-br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__tablet-br {
    display: inline;
  }
}
@media (min-width: 1200px) {
  .advantages__tablet-br {
    display: none;
  }
}

.advantages__desktop-br {
  display: none;
}
@media (min-width: 768px) {
  .advantages__desktop-br {
    display: none;
  }
}
@media (min-width: 1200px) {
  .advantages__desktop-br {
    display: inline;
  }
}

@media (min-width: 768px) {
  .advantages__wrapper-1 {
    width: 210px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-1 {
    width: 300px;
  }
}

@media (min-width: 768px) {
  .advantages__wrapper-2 {
    width: 190px;
    margin: 0 auto;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-2 {
    width: 300px;
  }
}

.advantages__wrapper-3 {
  border-bottom: 1px solid #D6D6D6;
  width: 268px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper-3 {
    width: 190px;
    padding-top: 41px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-3 {
    width: 300px;
  }
}

.advantages__wrapper-4 {
  border-bottom: 1px solid #D6D6D6;
  width: 237px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper-4 {
    width: 175px;
    padding-top: 41px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-4 {
    width: 300px;
    padding: 41px 15px;
  }
}

.advantages__wrapper-5 {
  width: 250px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .advantages__wrapper-5 {
    width: 190px;
    padding-top: 41px;
  }
}
@media (min-width: 1200px) {
  .advantages__wrapper-5 {
    width: 300px;
  }
}

.search__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  color: #000000;
  margin-top: 60px;
}

.search__description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  color: #333333;
  width: 262px;
  margin: auto;
}
@media (min-width: 768px) {
  .search__description {
    margin: auto;
    width: 435px;
  }
}

.search {
  margin: auto;
  text-align: center;
}
@media (min-width: 768px) {
  .search {
    margin: auto;
    width: 435px;
  }
}
@media (min-width: 1200px) {
  .search {
    margin: auto;
    width: 435px;
  }
}

.search__button {
  display: inline-block;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  font-size: 21px;
  background-color: #81B3D2;
  margin-top: 32px;
  padding: 16px 49px;
}
@media (min-width: 768px) {
  .search__button {
    padding: 16px 121px;
  }
}

.search__wrapper {
  margin: auto;
}

.search__tablet-br {
  display: none;
}
@media (min-width: 768px) {
  .search__tablet-br {
    display: inline;
  }
}

.copyright__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-transform: uppercase;
  padding-right: 12px;
}

.main-nav {
  width: 100%;
  background-color: transparent;
  min-height: 56px;
}
@media (min-width: 768px) {
  .main-nav {
    background-color: #ffffff;
  }
}

.main-nav--opened.main-nav {
  position: absolute;
  background-color: #81B3D2;
  z-index: 2;
}

.main-nav__toggle-icon {
  position: relative;
  display: block;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  transition: all 0.3s ease;
}

.main-nav__toggle-icon::after,
.main-nav__toggle-icon::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #81B3D2;
  top: 8px;
  left: 0;
  transition: all 0.3s ease;
}

.main-nav__toggle-icon::before {
  top: -8px;
}

.main-nav--opened .main-nav__toggle-icon {
  background-color: transparent;
}

.main-nav--opened .main-nav__toggle-icon::after,
.main-nav--opened .main-nav__toggle-icon::before {
  background-color: #ffffff;
  top: 0;
}

.main-nav--opened .main-nav__toggle-icon::after {
  transform: rotate(45deg);
}

.main-nav--opened .main-nav__toggle-icon::before {
  transform: rotate(-45deg);
}

.main-nav__wrapper {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

@media (min-width: 768px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 768px;
    margin: 0 auto;
    font-size: 14px;
    line-height: 21px;
  }
}
@media (min-width: 1200px) {
  .main-nav__wrapper {
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin: 0 auto;
  }
}
.main-nav__toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  background-color: transparent;
}
@media (min-width: 768px) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__toggle:hover {
  opacity: 0.6;
}

.main-nav__toggle:active {
  opacity: 0.3;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  display: none;
  list-style: none;
  width: 100%;
}
@media (min-width: 768px) {
  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
  }
}
@media (min-width: 1200px) {
  .main-nav__list {
    display: flex;
  }
}

.main-nav--opened .main-nav__list {
  display: block;
}

.main-nav__list a {
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
}
@media (min-width: 768px) {
  .main-nav__list a {
    padding: 18px 10px 17px 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    color: #000000;
  }
}
@media (min-width: 1200px) {
  .main-nav__list a {
    padding: 18px 17px 17px 18px;
  }
}

.main-nav--nojs.main-nav {
  position: static;
}

.main-nav--nojs .main-nav__toggle {
  display: none;
}

.main-nav--nojs .main-nav__list {
  display: block;
}

.button {
  text-decoration: underline;
  background-color: #81B3D2;
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #FFFFFF;
  text-decoration: none;
  border-color: #81B3D2;
  font-family: "PT Sans";
}

.review__button {
  display: block;
}

.input {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  font-family: "PT Sans";
  background-color: #F2F2F2;
  border: none;
}

.map {
  margin: auto;
  width: 320px;
}

.map__image {
  margin-top: 55px;
}
@media (min-width: 768px) {
  .map__image {
    margin-top: 55px;
  }
}

.site-list__item {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(1, 1, 1, 0.2);
}
@media (min-width: 768px) {
  .site-list__item {
    width: 153px;
    border: none;
  }
  .site-list__item:nth-child(2) {
    margin-right: 153px;
  }
}
@media (min-width: 1200px) {
  .site-list__item {
    width: 240px;
  }
  .site-list__item:nth-child(2) {
    margin-right: 240px;
  }
}

.site-list a {
  display: flex;
  padding: 17px 17px 12px 17px;
  justify-content: center;
  background: #81B3D2;
  mix-blend-mode: normal;
}
@media (min-width: 768px) {
  .site-list a {
    background-color: transparent;
  }
}

.site-list::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 7px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);
}
@media (min-height: 540px) {
  .site-list::before {
    display: none;
  }
}

.container {
  width: 320px;
  padding: 0 30px;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 50px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.container-shadow {
  width: 320px;
  margin: 0 auto;
  outline: 1px solid red;
}
@media (min-width: 768px) {
  .container-shadow {
    width: 768px;
  }
}
@media (min-width: 1200px) {
  .container-shadow {
    width: 1200px;
  }
}

.modal-container1 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container1-close {
  display: none;
}

.modal-container1__position {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-container1__error {
  width: 320px;
  height: 280px;
}
@media (min-width: 768px) {
  .modal-container1__error {
    width: 400px;
    height: 347px;
  }
}

.modal-container1__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-container1__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 37px;
  }
}

.modal-container1__form {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 5px 0;
}

.modal-container1-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  top: 0;
  right: 0;
  width: 180px;
  height: 56px;
  margin: 28px 30px;
  border: none;
  color: #ffffff;
  background-color: #81B3D2;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal-container1-button {
    margin: 40px 65px;
  }
}

.modal-container2 {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-container2-close {
  display: none;
}

.modal-container2__position {
  position: relative;
  margin: auto;
  padding: 40px;
  background-color: #ffffff;
}

.modal-container2__sent {
  width: 320px;
  height: 323px;
}
@media (min-width: 768px) {
  .modal-container2__sent {
    width: 640px;
    height: 347px;
  }
}

.modal-container2__title {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal-container2__title {
    font-size: 30px;
    line-height: 40px;
    padding: 0px 37px;
  }
}

.modal-container2__form {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 5px 0;
}

.modal-container2_wrapper-button {
  position: absolute;
  width: 320px;
  height: 98px;
  background-color: #F2F2F2;
  background-position: center;
  margin-left: -40px;
  margin-top: 40px;
}
@media (min-width: 768px) {
  .modal-container2_wrapper-button {
    width: 640px;
    height: 146px;
  }
}

.modal-container2-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  padding: 0;
  top: 0;
  right: 0;
  width: 280px;
  height: 56px;
  margin: 20px 20px;
  border: none;
  color: #ffffff;
  background-color: #81B3D2;
  text-align: center;
  cursor: pointer;
}
@media (min-width: 768px) {
  .modal-container2-button {
    width: 458px;
    margin: 40px 92px;
  }
}
/*# sourceMappingURL=style.css.map */