//микмины и переменные
@import './mixins.scss';
@import './variables.scss';


// базовые стили
@import './base/fonts.scss';
@import './base/base.scss';

//блоки
@import './blocks/main-header.scss';
@import './blocks/main-footer.scss';
@import './blocks/social.scss';
@import './blocks/buttons.scss';
@import './blocks/review.scss';
@import './blocks/contact.scss';
@import './blocks/impression.scss';
@import './blocks/visit.scss';
@import './blocks/comment.scss';
@import './blocks/photo.scss';
@import './blocks/services.scss';
@import './blocks/page.scss';
@import './blocks/advantages.scss';
@import './blocks/search.scss';
@import './blocks/copyright.scss';
@import './blocks/main-nav.scss';
@import './blocks/buttons.scss';
@import './blocks/input.scss';
@import './blocks/hero.scss';
@import './blocks/map.scss';
@import './blocks//site-list.scss';
@import './blocks/container.scss';
@import './blocks/container-shadow.scss';
@import './blocks/modal-container1.scss';
@import './blocks/modal-container2.scss';

